on:
  # autoriser le déclanchement manuelledu script ou quand on "push" sur main
  workflow_dispatch:
  # déclanche le script quand on "push" sur main
  push:
    branches:
      - main

jobs:
  # nom du premier job
  hello:
    # sur quel runner (machine) le code va exécuter
    runs-on: ubuntu-latest
    # définition des étapes
    steps:
      - name: step 1
        run: echo hello
