on:
  # autoriser le déclanchement manuel du script ou quand on "push" sur main
  workflow_dispatch:
  # déclanche le script quand on "push" sur main
  push:
    branches:
      - main

jobs:
  # nom du premier job
  building-dotnet-app:
    # sur quel runner (machine) le code va exécuter
    runs-on: ubuntu-latest
    # définition des étapes
    steps:
      - name: step 1
        run: echo hello
      - name: step 2 (checkout du code)
        # utilise un github action, qui récupère le code de la branche main pour le runner
        uses: actions/checkout@v5
      - name: step 3
        # lister les fichiers
        run: ls -l
      - name: step 4 - setup dotnet
        # installer les outils nécessaire pour executer le code de notre projet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.x'
      - name: step 5 - dotnet restore ./WebAPI_DevOps
        # execute les commandes dotnet
        run: dotnet restore
      - name: step 6 - building dotnet app
        run: dotnet build
      - name: step 7 - publish app
        # execute les commandes dotnet
        run: dotnet publish --output ./publish
      - name: step 8 - display content publish dir
        run: ls -l ./publish
      - name: step 9 - loguer sur azure
        uses: azure/login@v2
        with:
          # récupère les informations fournis dans les secrets du projet github
          creds: ${{ secrets.AZURE_CONNECTION }}
      #- name: step 10 - publier sur azure
       # uses: 
